.aspectWrapper {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Maintain aspect ratio */
    cursor: pointer;
  }
  
  .objectCover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
  }